.pascal-row {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    max-width: 100%;
}

.pascal-row > * {
    margin: 0 5px;
}

#primaryAccordion {
    border: black 5px solid;
    border-radius: 15px;
}

#pTriangle {
    text-align: center;
    display: grid;
    /* width: 100vw; */
    /* height: 50vh; */
    /* margin: 0 auto; */
}

#pTriangle span {
    flex: 0 0 auto;
}
span {
    display: inline-block;
    font-size: xx-small;
    font-weight: bold;
}
.pascal-row-number {
    margin: 1px 1px;
    border: 2px solid black;
    width: 45px;
}
.scaledv1 {
    transform: scale(1);
}
.noCSS {
    all: unset;
}
.noPadding {
    padding: 0;
}
.center {
    text-align: center;
}
.noMargin {
    margin: 0;
}
/* .halfAlert {
    width: 50%;
    display: inline-block;
} */

.masonry-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 1rem;
}

.backToTop {
    float: right;
    cursor: pointer;
}

footer {
    background-color: white;
}

body {
    padding-bottom: 15px;
}